<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Work Order Tickets</title>
</head>
<%- include('../partials/header.ejs') %>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container">
         <h2><%= user.name %></h2>
        <h2><a class="btn btn-primary" href='tickets/new' role="button">Open New Ticket</a></h2>   
    </div>

    <div class="container">
        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Ticket Number</th>
                <th scope="col">Department</th>
                <th scope="col">Request</th>
                <th scope="col">Requestor</th>
                <th scope="col">Latest Update</th>
                <th scope="col">Status</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach ((tickets, index) => { %> 
                <tr>
                    <th scope="row"><a href="tickets/<%=tickets.id %>"><%= tickets.id %></a></th>
                    <td><%= tickets.department %></td>
                    <% let s = tickets.request %>
                    <% let s2 = s.toString() %>
                    <% let requ = s2.substr(0,15) %>
                    <td><%= requ %></td>
                    <td><%= tickets.requestor %></td>
                    <% let t = tickets.update %>
                    <% let t2 = t.toString() %>
                    <% let update = t2.substr(0,15) %>
                    <td><%= update %></td>
                    <td><%= tickets.status %></td>
                    <% let d = tickets.createdAt %>
                    <% let d2 = d.toString() %>
                    <% let date = d2.substr(0,15) %>
                    <td><%= date %></td>
                    <td><a href="tickets/<%=tickets.id %>/edit" class="btn btn-warning">Edit</td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    </div>
    
</body>
</html>